html {
  background: #000;
}
body {
  background: url(../images/bg.jpg) no-repeat center bottom;
  background-attachment: fixed;
  color: #fff;
}
.wrap-slider {
  min-height: 700px;
}
header {
  background: transparent;
  color: #555555;
  margin-top: 30px;
}
header .logo {
  text-decoration: none;
}
header .logo a {
  display: inline-block;
}
header h1.logo,
header .h1 {
  margin-top: 0;
}
h1.title,
h2 {
  border: 1px solid #b0cb1f;
  color: #b0cb1f;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  padding: 10px 20px;
}
.full-width {
  background: #b0cb1f;
  width: 100%;
  overflow: hidden;
}
.full-width ul {
  padding: 25px 0;
}
.full-width ul li {
  list-style: none;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 0;
}
.full-width ul li img {
  max-height: 50px;
  width: auto;
}
.full-width .owl-carousel .owl-item img {
  display: block;
  width: auto;
  margin: 0 auto;
}
.full-width .owl-carousel .owl-dots {
  display: none;
}
aside .aside-box {
  margin-bottom: 30px;
}
aside .page-teaser-image {
  width: 200px;
}
aside form {
  border: 1px solid #b0cb1f;
  padding: 30px;
  margin-top: 30px;
}
.tab_nav {
  padding: 0;
}
.tab_nav li {
  list-style: none;
  text-align: center;
  margin-bottom: 20px;
}
.tab_nav li img {
  width: 50%;
  border: 1px solid #b0cb1f;
  border-radius: 50%;
  padding: 5px;
}
.tab_nav li span.title {
  color: #b0cb1f;
  font-weight: bold;
  display: block;
  font-size: 18px;
  margin-top: 5px;
}
.tab_nav li.active img {
  border: none;
  width: 80%;
}
.g-recaptcha {
  margin-top: 10px;
}
footer {
  padding: 24px 0;
  background: transparent;
  color: #555555;
  font-size: 0.85em;
}
footer .footer-img img {
  max-height: 130px;
  width: auto;
}
footer .social-link {
  color: #fff;
}
footer .social-link a {
  color: #fff;
  text-decoration: none;
}
footer .social-link p.footer-icons {
  font-size: 16px;
}
footer .social-link p.footer-icons:before {
  color: #b0cb1f;
  font-size: 19px;
  margin-right: 14px;
}
#go-top {
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
#go-top:hover,
#go-top:active,
#go-top.active {
  color: #FFF;
  border-color: #b0cb1f;
  background-color: #b0cb1f;
}
form::after {
  content: "";
  display: table;
  clear: both;
}
form p::after {
  content: "";
  display: table;
  clear: both;
}
form .captcha label,
form .captcha input {
  float: left;
  width: 100%;
  font-weight: normal;
}
form .captcha .captcha_field {
  margin-bottom: 1em;
}
form .captcha .recaptcha_links a,
form .captcha .captcha_image a {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.3em;
  padding: 0 1em;
  font-family: 'Open Sans', Arial, sans-serif;
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  border-color: #79a204;
  background-color: #b0cb1f;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
  border: none;
  transition: background 0.3s;
  float: left;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 2.3em;
  margin-right: 0.25em;
}
form .captcha .recaptcha_links a:hover,
form .captcha .captcha_image a:hover,
form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active {
  color: #FFF;
  border-color: #547003;
  background-color: #8a9f18;
}
form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
}
form .captcha .recaptcha_links a::before,
form .captcha .captcha_image a::before {
  font-family: flexkit-icons;
  width: 100%;
  float: left;
  margin: 0;
  line-height: inherit !important;
}
form .captcha .captcha_image {
  width: 100% !important;
  height: auto !important;
  float: left;
  text-align: center;
  margin-bottom: 1em;
}
form .captcha .captcha_image br {
  display: none;
}
form .captcha .captcha_image span {
  float: left;
}
form .captcha .recaptcha_links {
  float: left;
  margin-bottom: 1em;
}
form .captcha .recaptcha_links a[href="javascript:Recaptcha.reload();"]::before {
  content: "\e093";
}
form .captcha .recaptcha_links a.recaptcha_only_if_image::before {
  content: "\e0e2";
}
form .captcha .recaptcha_links a.recaptcha_only_if_audio::before {
  content: "\e008";
}
form .captcha .recaptcha_links a.recaptcha_help::before {
  content: "\e0e3";
}
form .captcha #recaptcha_audio_play_again::before {
  content: "\e0e4";
}
form .captcha #recaptcha_audio_download::before {
  content: "\e0e1";
}
@media only screen and (max-width: 480px), only screen and (min-width: 800px) {
  aside form .captcha .recaptcha_links {
    width: 100%;
  }
  aside form .captcha .recaptcha_links a {
    margin: 0;
    width: 32%;
  }
  aside form .captcha .recaptcha_links a + a {
    margin-left: 2%;
  }
  aside form .captcha .captcha_image span {
    width: 49%;
  }
  aside form .captcha .captcha_image span + br + span {
    margin-left: 2%;
  }
  aside form .captcha .captcha_image a {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  form .captcha .recaptcha_links {
    width: 100%;
  }
  form .captcha .recaptcha_links a {
    margin: 0;
    width: 32%;
  }
  form .captcha .recaptcha_links a + a {
    margin-left: 2%;
  }
  form .captcha .captcha_image span {
    width: 49%;
  }
  form .captcha .captcha_image span + br + span {
    margin-left: 2%;
  }
  form .captcha .captcha_image a {
    margin: 0;
    width: 100%;
  }
}
.tablet form .captcha .captcha_image span,
.mobile form .captcha .captcha_image span {
  width: 100%;
}
form [type="submit"] {
  float: right;
}
fieldset legend {
  font-size: 1.25em;
}
fieldset.unstyled {
  padding: 0;
  border: 0;
}
fieldset.unstyled legend {
  padding: 0;
  margin-bottom: .45em;
  font-weight: bold;
}
label,
.label {
  display: block;
  margin-bottom: 0.25em;
}
label[for],
.label[for] {
  cursor: pointer;
}
label[class*="grid_"],
.label[class*="grid_"] {
  margin-bottom: 0;
}
.label-inline label,
.label-inline .label {
  margin-bottom: 0;
  line-height: 2.3em;
}
label.required::after,
.label.required::after {
  color: #f25f5c;
  content: ' *';
}
.notvalid {
  color: #f25f5c;
}
select,
textarea,
input {
  margin-bottom: 5px;
  font-family: 'Open Sans', Arial, sans-serif;
  border: 1px solid #bbbbbb;
  background-color: #fff;
  color: #fff;
  transition: border 0.3s;
}
select:focus,
textarea:focus,
input:focus {
  border-color: #b0cb1f;
}
select.success,
textarea.success,
input.success,
select.warning,
textarea.warning,
input.warning,
select.error,
textarea.error,
input.error,
select.info,
textarea.info,
input.info {
  color: #fff;
}
select.success,
textarea.success,
input.success {
  border-color: #4fc752;
}
select.success:focus,
textarea.success:focus,
input.success:focus {
  box-shadow: 0 0 3px #4fc752 inset;
}
select.warning,
textarea.warning,
input.warning {
  border-color: #ffc159;
}
select.warning:focus,
textarea.warning:focus,
input.warning:focus {
  box-shadow: 0 0 3px #ffc159 inset;
}
select.error,
textarea.error,
input.error,
select.notvalid,
textarea.notvalid,
input.notvalid {
  border-color: #f25f5c;
}
select.error:focus,
textarea.error:focus,
input.error:focus,
select.notvalid:focus,
textarea.notvalid:focus,
input.notvalid:focus {
  box-shadow: 0 0 3px #f25f5c inset;
}
select.info,
textarea.info,
input.info {
  border-color: #28b0ed;
}
select.info:focus,
textarea.info:focus,
input.info:focus {
  box-shadow: 0 0 3px #28b0ed inset;
}
select[disabled],
textarea[disabled],
input[disabled],
[disabled] select,
[disabled] textarea,
[disabled] input,
select[disabled]:focus,
textarea[disabled]:focus,
input[disabled]:focus,
select.noedit,
textarea.noedit,
input.noedit,
select.noedit:focus,
textarea.noedit:focus,
input.noedit:focus {
  border-color: #dddddd;
  background: #eeeeee;
  color: #a2a2a2;
  cursor: not-allowed;
  box-shadow: none;
}
input,
select {
  padding: 0 .5em;
  height: 2.3em;
  line-height: 1.3em;
}
textarea {
  padding: .5em;
  min-height: 5em;
}
textarea.resize {
  resize: vertical;
}
.forgot-password,
.retrieveFormBlock > form + a {
  float: left;
  margin-top: -32px;
}
.filed-upgrade {
  height: auto;
  position: absolute;
  z-index: -10;
  transition: none;
  opacity: 0;
}
.filed-upgrade ~ .checkbox_radio {
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-size: 16px;
  height: calc(1em + 1px * 2);
  width: calc(1em + 1px * 2);
  line-height: 0;
  margin: 0;
  background: #fff;
  border: 1px solid #bbbbbb;
  color: transparent;
}
.filed-upgrade ~ .checkbox_radio::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0.625em;
  height: 0.625em;
}
.filed-upgrade.error ~ .checkbox_radio {
  border-color: #f25f5c;
}
.filed-upgrade:hover ~ .checkbox_radio::before {
  background: rgba(0, 0, 0, 0.1);
}
.filed-upgrade:checked ~ .checkbox_radio {
  border-color: #4fc752;
}
.filed-upgrade:checked ~ .checkbox_radio::before {
  background: #4fc752;
}
.filed-upgrade:disabled ~ .checkbox_radio {
  background: #eeeeee !important;
  border-color: #d5d5d5 !important;
  color: transparent;
}
.filed-upgrade:disabled:checked ~ .checkbox_radio::before {
  background: #a2a2a2 !important;
}
.filed-upgrade[type="radio"] ~ .checkbox_radio,
.filed-upgrade[type="radio"] ~ .checkbox_radio::before {
  border-radius: 10em;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio {
  overflow: hidden;
  position: relative;
  width: 4em;
  height: calc(1.25em + 1px * 2);
  line-height: 1.25em;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio::before {
  font-size: 0.75rem;
  line-height: inherit;
  content: 'OFF';
  background: none;
  color: #f25f5c;
  position: static;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  width: 50%;
  text-align: center;
  float: left;
  margin-left: 50%;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio::after {
  content: '';
  background: #f25f5c;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  border: 1px solid #fff;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
.filed-upgrade[type="checkbox"].switcher:checked ~ .checkbox_radio::before {
  content: 'ON';
  margin-left: 0;
  color: #4fc752;
}
.filed-upgrade[type="checkbox"].switcher:checked ~ .checkbox_radio::after {
  left: 50%;
  background: #4fc752;
}
.filed-upgrade[type="checkbox"].switcher:disabled ~ .checkbox_radio::before {
  color: #a2a2a2 !important;
  background: none !important;
}
.filed-upgrade[type="checkbox"].switcher:disabled ~ .checkbox_radio::after {
  background: #a2a2a2 !important;
}
.input-label {
  position: relative;
}
.input-label label {
  color: #e6e6e6;
  position: absolute;
  top: 0;
  left: .5em;
  z-index: 1;
  line-height: 2.3em;
  transition: all 0.2s;
}
.input-label input {
  border-width: 0 0 1px;
  box-shadow: none !important;
}
.input-label input:focus + label,
.input-label input:valid + label {
  color: #b0cb1f;
  top: -0.9em;
  font-size: 0.85em;
  line-height: 1em;
}
.input-label input.success:focus + label,
.input-label input.success:valid + label {
  color: #4fc752;
}
.input-label input.warning:focus + label,
.input-label input.warning:valid + label {
  color: #ffc159;
}
.input-label input.error:focus + label,
.input-label input.error:valid + label {
  color: #f25f5c;
}
.input-label input.info:focus + label,
.input-label input.info:valid + label {
  color: #28b0ed;
}
.subscribe-form form input[type='text'],
aside form input[type='text'],
.main-cat form input[type='text'],
.subscribe-form form input[type='email'],
aside form input[type='email'],
.main-cat form input[type='email'],
.subscribe-form form textarea,
aside form textarea,
.main-cat form textarea,
.subscribe-form form input:not([type='submit']),
aside form input:not([type='submit']),
.main-cat form input:not([type='submit']) {
  background: none;
  border: none;
  border-bottom: 1px solid #535353;
  color: #535353;
  font-size: 16px;
  padding: 5px 10px;
}
.subscribe-form form input[type='submit'],
aside form input[type='submit'],
.main-cat form input[type='submit'] {
  width: 100%;
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-cat .img_gallery {
  margin: 10px 0;
  font-size: 0;
}
.main-cat .img_gallery >* {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}
.main-cat .img_gallery li {
  font-size: 1rem;
  position: relative;
  margin: 5px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-left: 1%;
  margin-right: 1%;
  width: 23%;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .main-cat .img_gallery li {
    width: 48%;
  }
}
@media only screen and (max-width: 480px) {
  .main-cat .img_gallery li {
    width: 98%;
  }
}
.main-cat .img_gallery a img {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  padding: 3px;
  background: transparent;
  transition: all 0.3s;
  border: 1px solid #bbbbbb;
}
.main-cat .img_gallery a img:hover {
  border-color: #b0cb1f;
}
.main-cat .img_gallery .image_caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  line-height: 1.6;
  padding: 4px;
  color: #FFF;
  text-align: center;
  font-size: 0.85em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(176, 203, 31, 0.8);
}
.rotator {
  position: relative;
  overflow: hidden;
  background: #FFFFFF;
}
.rotator .slide-description {
  padding: 10px 16px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.005);
}
.rotator img {
  width: 100%;
}
.rotator img ~ .slide-description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.cycle-carousel {
  width: 100% !important;
}
.cycle-slideshow {
  margin-bottom: 30px;
}
.cycle-slideshow .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  list-style: none;
  height: 580px;
  overflow: hidden;
  border: 1px solid #b0cb1f;
  background-size: cover;
}
.cycle-slideshow .slide > a.generator-links:not(:first-child),
.cycle-slideshow .slide > a.tpopup:not(:first-child) {
  position: absolute;
  top: 10px;
  left: 10px;
}
.cycle-slideshow .slide > img {
  display: none;
}
.cycle-slideshow .cycle-pager {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 20;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.cycle-slideshow .cycle-pager > * {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 3px;
  color: #FFF;
  background: #FFFFFF;
  border-radius: 14px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 0;
}
.cycle-slideshow .cycle-pager > *::before {
  font-size: 10px;
}
.cycle-slideshow .cycle-pager > *:hover {
  background: #8a9f18;
}
.cycle-slideshow .cycle-pager > *.cycle-pager-active {
  cursor: default;
  color: #FFF;
  background: #b0cb1f;
}
.cycle-slideshow [class*="cycle-"].action-button {
  background: #b0cb1f;
  color: #FFF;
  position: absolute;
  top: 50%;
  z-index: 20;
  cursor: pointer;
  margin-top: -19px;
  padding: 10px;
  box-sizing: content-box;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 0;
  transition: all 0.3s;
}
.cycle-slideshow [class*="cycle-"].action-button::before {
  font-size: 18px;
}
.cycle-slideshow [class*="cycle-"].action-button:hover {
  background: #8a9f18;
  color: #FFF;
}
.cycle-slideshow [class*="cycle-"].action-button::before {
  font-family: flexkit-icons;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-prev {
  left: -54px;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-prev::before {
  content: "\e0a9";
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-next {
  right: -54px;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-next::before {
  content: "\e0a7";
}
.cycle-slideshow:hover .action-button.cycle-prev {
  left: 10px;
}
.cycle-slideshow:hover .action-button.cycle-next {
  right: 10px;
}
.controls {
  position: absolute;
  top: 40%;
  background: #000000;
  cursor: pointer;
}
#next {
  right: -55px;
  width: 0;
  height: 0;
  border-top: 55px solid transparent;
  border-left: 55px solid #b0cb1f;
  border-bottom: 55px solid transparent;
}
#prev {
  left: -55px;
  width: 0;
  height: 0;
  border-top: 55px solid transparent;
  border-right: 55px solid #b0cb1f;
  border-bottom: 55px solid transparent;
}
.wrap-pager {
  clear: both;
  border-bottom: 1px solid #b0cb1f;
}
.cycle-pager {
  overflow: hidden;
  text-align: center;
  display: block;
  margin: -9px auto;
}
.cycle-pager span {
  font-size: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 1px solid #b0cb1f;
  margin: 0 1px;
  cursor: pointer;
  background: #000;
}
.cycle-pager span:hover,
.cycle-pager span.cycle-pager-active {
  background: #b0cb1f;
}
.slide-description .slider-title,
.slide-description p {
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
  color: #FFFFFF;
  position: absolute;
  padding: 0px 25px;
}
.slide-description .slider-title {
  background: rgba(34, 34, 34, 0.6);
  top: 155px;
  right: 100px;
  animation-name: bounceInLeft;
}
.slide-description p {
  background: rgba(34, 34, 34, 0.6);
  top: 300px;
  left: 80px;
  animation-name: bounceInRight;
}
.cycle-slide:not(.cycle-slide-active) .slide-description span,
.cycle-slide:not(.cycle-slide-active) .slide-description p {
  visibility: hidden;
  -webkit-animation-duration: 0s;
  animation-duration: 0s;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  animation-name: none;
}
.cycle-slide-active .slide-description span,
.cycle-slide-active .slide-description p {
  visibility: visible;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel {
  overflow: hidden;
  display: none;
  width: 100%;
  z-index: 1;
}
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: all 0.3s;
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}
.owl-carousel .owl-dots {
  display: block;
  margin: 27px auto -49px;
  width: 30%;
  text-align: center;
}
.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  vertical-align: middle;
  background: #000;
  cursor: pointer;
  margin: 0 1px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 0;
  border: 1px solid #b0cb1f;
}
.owl-carousel .owl-dots .owl-dot::before {
  font-size: 15px;
}
.owl-carousel .owl-dots .owl-dot:hover,
.owl-carousel .owl-dots .owl-dot.active {
  background: #b0cb1f;
  border-color: #b0cb1f;
  transition: all 0.3s;
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loading,
.owl-carousel.owl-hidden {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}
.owl-carousel.owl-height,
.owl-carousel .owl-height {
  transition: height;
}
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-nav {
  display: none;
  text-align: right;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.3em;
  padding: 0 1em;
  font-family: 'Open Sans', Arial, sans-serif;
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  border-color: #79a204;
  background-color: #b0cb1f;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
  border: none;
  transition: background 0.3s;
  line-height: 1.15;
  padding: 10px 0;
  overflow: hidden;
  white-space: nowrap;
  width: 38px;
}
.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-nav .owl-prev:active,
.owl-carousel .owl-nav .owl-next:active,
.owl-carousel .owl-nav .owl-prev.active,
.owl-carousel .owl-nav .owl-next.active {
  color: #FFF;
  border-color: #547003;
  background-color: #8a9f18;
}
.owl-carousel .owl-nav .owl-prev:active,
.owl-carousel .owl-nav .owl-next:active,
.owl-carousel .owl-nav .owl-prev.active,
.owl-carousel .owl-nav .owl-next.active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
}
.owl-carousel .owl-nav .owl-prev::before,
.owl-carousel .owl-nav .owl-next::before {
  font-family: flexkit-icons;
  width: 100%;
  float: left;
  margin: 0;
  line-height: inherit !important;
}
.owl-carousel .owl-nav .owl-prev::before {
  content: "\e0a9";
}
.owl-carousel .owl-nav .owl-prev + .owl-next {
  margin-left: 0.8rem;
}
.owl-carousel .owl-nav .owl-next::before {
  content: "\e0a7";
}
.owl-loaded {
  display: block;
  overflow: visible;
  padding-bottom: 40px;
  border-bottom: 1px solid #b0cb1f;
}
@media only screen and (min-width: 801px) {
  .d-hide,
  .t-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .t-hide,
  .d-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .m-hide,
  .d-visible,
  .t-visible {
    display: none !important;
  }
}
@media only screen and (max-width: 1024px) {
  .index-content .news-item .news-item-title {
    font-size: 12px;
  }
  .main_menu {
    margin-top: 20px;
  }
  .main_menu a {
    font-size: 14px;
  }
  .subscribe-form form input[type='submit'],
  aside form input[type='submit'],
  .main-cat form input[type='submit'] {
    font-size: 16px;
  }
  .main-cat ul.featureditem li .page-title {
    font-size: 14px;
  }
}
@media only screen and (max-width: 800px) {
  .main-cat ul.featureditem li .icons::before {
    font-size: 10em;
  }
}
@media only screen and (max-width: 480px) {
  .captcha,
  .captcha img {
    width: 100%;
  }
  form [type="submit"],
  form [type="button"] {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .tab_nav li {
    margin-bottom: 10px;
  }
  .tab_nav li img {
    display: none;
  }
  .tab_nav li.active .title {
    color: #fff;
  }
  .animated {
    animation-duration: 0.1s!important;
  }
}
html.mobile,
html.tablet {
  overflow: hidden;
}
html.mobile::before,
html.tablet::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  background-color: #b0cb1f;
}
html.mobile .mobile-loader,
html.tablet .mobile-loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 102;
}
html.mobile .mobile-loader::after,
html.tablet .mobile-loader::after,
html.mobile .mobile-loader::before,
html.tablet .mobile-loader::before {
  margin: auto;
  content: "";
  display: block;
  border: 5px solid transparent;
  border-top-color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
}
html.mobile .mobile-loader::after,
html.tablet .mobile-loader::after {
  animation: rotate 1.45s linear infinite;
  width: 4em;
  height: 4em;
}
html.mobile .mobile-loader::before,
html.tablet .mobile-loader::before {
  animation: rotate 1.85s linear infinite;
  width: 4.75em;
  height: 4.75em;
}
html.mobile.loaded,
html.tablet.loaded {
  overflow: initial;
}
html.mobile.loaded::before,
html.tablet.loaded::before {
  content: none;
}
html.mobile.loaded .mobile-loader,
html.tablet.loaded .mobile-loader {
  display: none;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only print {
  * {
    background: none !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    /* Images, vectors and such */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter     id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    /* Chrome + Safari 6 */
    -moz-filter: grayscale(100%);
    /* Future proof */
    -ms-filter: grayscale(100%);
    /* Future proof */
    -o-filter: grayscale(100%);
    /* Future proof */
    filter: grayscale(100%);
    /* Future proof or polyfilled */
  }
  .print-hide,
  header,
  footer,
  nav,
  aside {
    display: none !important;
  }
  .print-visible {
    display: block !important;
  }
  .print-visible-inline {
    display: inline !important;
  }
  .print-page-break-inside,
  img,
  table {
    page-break-inside: avoid;
  }
  .print-page-break,
  article + article {
    page-break-before: always;
  }
  a::after {
    color: #888888;
    margin: 0 0 0 .5em;
    font-size: 16px;
    font-style: italic;
    text-decoration: underline;
  }
  a.btn::after,
  a.page-title::after {
    margin: 0;
    display: block;
  }
  a.page-teaser-image::after,
  .page-teaser-image a::after,
  .gmaps a::after,
  a._lbox::after {
    display: none;
  }
  a[href*=".html"]::after,
  a[href^="http"]::after,
  a[href^="//"]::after {
    content: "(" attr(href) ")";
  }
}
