<div class="full-width mt30px">
    <div class="container scroll-effect bounceInRight" data-animate="bounceInRight"><div class="carousel-foot">{$content:logos:static}</div></div>
</div>
<footer class="container mt30px" itemscope itemtype="http://schema.org/LocalBusiness" role="contentinfo">
    <div class="grid_12 alpha omega">
         <div class="footer-box grid_4 t-grid_3 social-link">
           <p class="icon-phone2 footer-icons" itemprop="telephone">{$plugin:widcard:BizTelephone:notag}</p>
           <p class="icon-printer footer-icons">{$header:fax:static}</p>
          <!-- <p class="icon-mail5 footer-icons"><a href="mailto:{$ plugin:widcard:BizEmail:notag}" itemprop="email">{$ plugin:widcard:BizEmail:notag}</a></p> -->
           <p>{$template:_social links}</p>
         </div>
         <div class="footer-box grid_4 t-grid_3 text-center footer-img d-visible">
           {$content:img:static}
         </div>
         <div class="footer-box grid_3 prefix_1 t-grid_3 subscribe-form">
           {$content:form:static}
         </div>
    </div>
</footer>
 <script src="js/plugin/owl.carousel.min.js"></script>
  <script>
        $(function () {
             $('.footer-logos').owlCarousel({
                loop: 'true',
                margin: 5,
                responsiveClass: 'true',
                nav: 'true',
                autoplay: 'true',
                autoplayTimeout: 7000,
                responsive: {
                    0: {
                        items: 1,
                        nav: 'true'
                    },
                    481: {
                        items: 3,
                        nav: 'true'
                    },
                    801: {
                        items: 8,
                        nav: 'true',
                        loop: 'false'
                    }
                }

            });
        });
  </script>