<header class="grid_12 alpha omega" role="banner">
    <div class="logo grid_5 h1 alpha" itemscope itemtype="http://schema.org/Organization">
        <a href="{$website:url}" title="Event Management Agency & Services in Dover, Delaware" itemprop="url">
            <img src="{$plugin:widcard:bizLogo:url}" alt="{$page:h1}" itemprop="logo">
        </a>
    </div>
    <nav id="main-menu" class="grid_7 d-visible" role="navigation">{$menu:main}</nav>
</header>