<!-- Top bar for mobile, with button show/hide menu -->
<div class="mobile-bar top clearfix">
    <span class="btn icon-menu" data-refer="main"></span>
</div>

<aside class="m-menu left" data-el="main">
    <div class="menu-top-header">
        <a href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url">
            <img src="{$plugin:widcard:bizLogo:url}" alt="{$page:h1}" itemprop="logo">
        </a>
    </div>
    {$menu:main:_main menu}
</aside>


