<div class="news-item">
    <a class="news-item-image text-center " href="{$news:url}">
        <img src="{$news:preview}" alt="{$news:title:inline}"/>
    </a>
    <div class="green">
    <a class="news-item-title large " href="{$news:url}">{$news:title}</a>
    <time class="news-item-date small block mb10px" datetime="{$news:date:Y-m-d}">{$news:date: M d, Y}</time>
        </div>
</div>