// Featured Areas & Featured Pages & Related Pages
//==================================================
.featureapage, .featureditem li, .relatedpages li{
    & when (@widget-FA-FP-RP){
        margin-bottom : 30px;

        a{ }

        .page-teaser-image{
            overflow      : hidden;
            margin-bottom : 0.5em;

            img{
            }
        }

        .page-title{ }

        span, p{ }

        &:hover{

            a{ }

            .page-teaser-image{
                img{ }
            }

            .page-title{ }

            span, p{ }
        }
    }
}
.index-content {
    ul.index-fa{
        .inline-block-wrap();
        margin-top: 50px;
        margin-bottom: 40px;
        li{
                margin-bottom : 40px;
                text-align    : center;
                .grid-elements(3; 9; true);

                a{ }

                .page-teaser-image{
                    overflow      : hidden;
                    margin-bottom : 0.5em;

                    img{
                        width : 35%; }
                }

                .page-title{
                    color          : @brand-primary;
                    font-size: 17px;
                    margin-top: 23px;
                    font-weight: bold;
                }

                span, p{
                    color : #FFFFFF;
                    width: 80%;
                    margin: 0 auto;
                }

                &:hover{

                    a{ }

                    .page-teaser-image{
                        img{
                            animation-name : pulse;
                            visibility                  : visible;
                            -webkit-animation-duration  : 1s;
                            animation-duration          : 1s;
                            -webkit-animation-fill-mode : both;
                            animation-fill-mode         : both;
                        }
                    }

                    .page-title{ }

                    span, p{ }
                }

        }
    }
}
.main-cat {
    ul.featureditem{
        .inline-block-wrap();
        li{
            margin-bottom : 25px;
            text-align    : center;
            .grid-elements(5; 2; true);
            border: 1px solid @brand-primary;


            .page-teaser-image{
                overflow      : hidden;
                margin-bottom : 0;
                img{
                    //width : 50%;
                    margin-bottom: 0;
                }
            }
            .page-title{
                color          : #000;
                font-size: 17px;
                margin-top: 0;
                font-weight: bold;
                background: @brand-primary;
                margin-bottom: 0;
                padding: 3%; 
                text-transform: uppercase;
            }
            span, p{
               display: none;
            }
            &:hover {
                border:1px solid #ef7f1a;
                .page-title {
                    background: #ef7f1a;
                }
                .icons{
                    color     : #ef7f1a;
                }
            }
            .icons {
                color: @brand-primary;
                text-align: center;
                padding: 2em 0;
                &::before {
                    font-size: 10vw;
                }
            }
        }
        &.gallery-fa {
            li {

                .page-teaser-image{
                    overflow      : hidden;
                    margin-bottom : 0em;
                    img{
                        width : 100%;
                        margin-bottom: 0px;
                    }
                }
                .page-title {
                    margin-top: 0px;
                }
            }
        }
    }
}
// Featured Areas
//==================================================
.featureditem when (@widget-FA) and (@widget-FA-FP-RP){

    li{ }

    a{ }

    .page-teaser-image{
        img{ }
    }

    .page-title{ }

    span{ }

    li:hover{

        a{ }

        .page-teaser-image{
            img{ }
        }

        .page-title{ }

        span{ }
    }
}

// Featured Pages
//==================================================
.featureapage when (@widget-FP) and (@widget-FA-FP-RP){
    float : left;

    a{ }

    .page-teaser-image{
        img{ }
    }

    .page-title{ }

    p{ }

    &:hover{
        a{ }

        .page-teaser-image{
            img{ }
        }

        .page-title{ }

        p{ }
    }
}

// Related Pages
//==================================================
.relatedpages when (@widget-RP) and (@widget-FA-FP-RP){
    li{ }

    a{ }

    .page-teaser-image{
        img{ }
    }

    .page-title{ }

    span{ }

    li:hover{
        a{ }

        .page-teaser-image{
            img{ }
        }

        .page-title{ }

        span{ }
    }
}