.news-item when (@widget-news-list){
    border  : 1px solid @brand-primary;
    padding : 2px;

    .news-item-image{

        img{
        }
    }

    .news-item-title{
        text-decoration : none;
        color           : @brand-primary;
        line-height     : 20px;

    }

    .newslog-admin-actions{
        text-align : right;
        a{
        }
    }

    .news-item-description{
        display : none;
    }

    .news-item-tags{

        a{
            .link-color(@gray);

            & + a{
                margin-left : 0.5em;
            }

            &::before{
                color        : @gray;
                margin-right : 0.5em;
            }
        }
    }

    .newslog-tag-filter{
        &::before{
            font-family : @font-family-icons;
            content     : "\e023";
        }
    }
}

.index-content{
    .news-item when (@widget-news-list){
        //.grid-elements(4;0);
        //float:left;
        //margin: 0 3px;
        padding        : 1px;
        text-align     : center;
        border         : 1px solid @brand-primary;
        vertical-align : top;
        .news-item-image{
            width : 100%;

            img{
                width      : 100%;
                padding    : 5px;
                max-height : 465px;
            }
        }
        .green{
            background : @brand-primary;
            display    : block;
            //width: 100%;
        }

        .news-item-title{
            text-decoration : none;
            color           : #000;
            font-size       : 16px;
            text-transform  : uppercase;
            font-weight     : 700;
            padding-top     : 9px;
            display         : block;

        }

        .newslog-admin-actions{
            text-align : right;
            a{
            }
        }

        .news-item-date{
            color         : #000;
            font-size     : 15px;
            font-style    : italic;
            margin-bottom : 0 !important;

            &::before{
                top       : 2px;
                font-size : 16px;
                color     : @primary-bg;
            }
        }

        .news-item-description{
        }

        .news-item-tags{

            a{
                .link-color(@gray);

                & + a{
                    margin-left : 0.5em;
                }

                &::before{
                    color        : @gray;
                    margin-right : 0.5em;
                }
            }
        }

        .newslog-tag-filter{
            &::before{
                font-family : @font-family-icons;
                content     : "\e023";
            }
        }
        &:hover{
            background : @brand-primary;
            .news-item-title{
                color : #ef7f1a;
            }
        }
    }
}

.wrap-news{
    .inline-block-wrap();
    .news-item{
        .grid-elements(5; 2; false; 3; 1);
        vertical-align : top;
        position       : relative;
        text-align     : center;

        .news-item-date{
            background : @brand-primary;
            width      : 100%;
            text-align : center;
            color      : #fff;
            font-size  : 20px;
        }
        .news-item-image{
            text-decoration : none;
        }
    }
}

.news-list{
    margin     : 0;
    padding    : 0;
    list-style : none;
    .inline-block-wrap(top);
    .news-item{
        margin-bottom : 1.25em;

        section &{
            .grid-elements(2; @grid-margin-width; true; 2; 1);

            &:nth-child(-n+2){
                .news-item-image{
                    float   : none;
                    display : block;
                    width   : 100%;
                    margin  : 0;
                }
            }
        }
        .news-item-date{
            background : @brand-primary;
            //width      : 100%;
            text-align : center;
            color      : #fff;
            font-size  : 20px;
        }
        .news-item-image{
            text-decoration : none;
        }
    }
    .news-item-image{
        float        : left;
        width        : 30%;
        margin-right : 2px;
        img{
            width : 100%;
        }

        & ~ *{
            overflow : hidden;
        }
    }
    .news-item-title{
        display     : block;
        padding     : 0 1rem;
        line-height : 1.25em;
    }
}