.rotator when (@widget-rotator){
	position   : relative;
	overflow   : hidden;
	background : #FFFFFF;

	// -- Description
	.slide-description{
		padding : @padding-large-vertical @padding-large-horizontal;
		color   : #FFFFFF;
		.rgba(#000000; 0.5);
	}

	img{
		width : 100%;

		& ~ .slide-description{
			position : absolute;
			right    : 0;
			bottom   : 0;
			left     : 0;
		}
	}
}
.cycle-carousel{
	width : 100% !important;
}
.cycle-slideshow when (@widget-rotator){
	margin-bottom : 30px;
	.slide{
		position   : absolute;
		top        : 0;
		left       : 0;
		width      : 100%;
		list-style : none;
		height     : 580px;
		overflow   : hidden;
		border     : 1px solid @brand-primary;
		background-size: cover;
		& > a.generator-links:not(:first-child), & > a.tpopup:not(:first-child){
			position : absolute;
			top      : 10px;
			left     : 10px;
		}
		> img{
			display : none;
		}
	}

	// -- Pager
	.cycle-pager{
		position    : absolute;
		top         : 5px;
		right       : 0;
		z-index     : 20;
		text-align  : center;
		font-size   : 0;
		line-height : 0;

		> *{
			.inline-block;
			cursor     : pointer;
			margin     : 0 3px;
			color      : @primary-color;
			background : #FFFFFF;
			.border-radius(14px);
			.icon-size(10px; true);
			&:hover{
				background : darken(@primary-bg, 10%);
			}

			&.cycle-pager-active{
				cursor     : default;
				color      : @primary-color;
				background : @primary-bg;
			}
		}
	}

	[class*="cycle-"].action-button{
		background : @primary-bg;
		color      : @primary-color;
		position   : absolute;
		top        : 50%;
		z-index    : 20;
		cursor     : pointer;
		margin-top : -@slider-button-size / 2 - @padding-large-vertical;
		padding    : @padding-large-vertical;
		.box-sizing(content-box);
		.icon-size(@slider-button-size; true);
		.transition();

		&:hover{
			background : darken(@primary-bg, 10%);
			color      : @primary-color;
		}

		&::before{
			font-family : @font-family-icons;
		}

		&.cycle-prev{
			left : -@slider-button-size * 3;

			&::before{
				content : "\e0a9";
			}
		}

		&.cycle-next{
			right : -@slider-button-size * 3;

			&::before{
				content : "\e0a7";
			}
		}
	}

	&:hover .action-button{
		&.cycle-prev{
			left : 10px;
		}

		&.cycle-next{
			right : 10px;
		}

	}
}
.controls{
	position   : absolute;
	top        : 40%;
	background : #000000;
	cursor     : pointer;
}
#next{
	right         : -55px;
	width         : 0;
	height        : 0;
	border-top    : 55px solid transparent;
	border-left   : 55px solid @brand-primary;
	border-bottom : 55px solid transparent;
}
#prev{ left       : -55px;
	width         : 0;
	height        : 0;
	border-top    : 55px solid transparent;
	border-right  : 55px solid @brand-primary;
	border-bottom : 55px solid transparent; }
.wrap-pager{
	clear         : both;
	border-bottom : 1px solid @brand-primary;
}
.cycle-pager{
	overflow   : hidden;
	text-align : center;
	display    : block;
	margin     : -9px auto;
	span{
		font-size : 0;
		width     : 16px;
		height    : 16px;
		display   : inline-block;
		border    : 1px solid @brand-primary;
		margin    : 0 1px;
		cursor    : pointer;
		background: #000;
		&:hover, &.cycle-pager-active {
			background: @brand-primary;
		}
	}
}
.slide-description{
	.slider-title, p{
		font-size      : 55px;
		text-transform : uppercase;
		font-weight    : 800;
		font-style     : italic;
		color          : #FFFFFF;
		position       : absolute;
		padding: 0px 25px;}
	.slider-title{
		//.rgba(#F77301, 60%);
		.rgba(#222222, 60%); 
		top            : 155px;
		right          : 100px;
		animation-name : bounceInLeft;
	}
	p{
		.rgba(#222222, 60%);
		top            : 300px;
		left           : 80px;
		animation-name : bounceInRight;
	}
}
.cycle-slide:not(.cycle-slide-active){
	.slide-description{
		span, p{
			visibility                  : hidden;
			-webkit-animation-duration  : 0s;
			animation-duration          : 0s;
			-webkit-animation-fill-mode : none;
			animation-fill-mode         : none;
			animation-name              : none;
		}
	}
}
.cycle-slide-active{
	.slide-description{
		span, p{
			visibility                  : visible;
			-webkit-animation-duration  : 1s;
			animation-duration          : 1s;
			-webkit-animation-fill-mode : both;
			animation-fill-mode         : both;
		}
	}
}
