//	PAGE Style
//==================================================
html {
	background: #000;
}
body {
	// custom scroll-bar
	//.scroll-bar();
	background: url(../images/bg.jpg) no-repeat center bottom;
	background-attachment: fixed;
	color:#fff;
}
main {
}
#page {}
.wrap-slider {min-height: 700px}
//	HEADER Style
//==================================================
header {
	background : @header-bg;
	color      : @header-color;
    margin-top: 30px;
	// -- LOGO Style
	.logo {
		text-decoration : none;
		a {
			display : inline-block;
		}
		img {
		}

	}
	h1.logo, .h1 {
		margin-top: 0;
	}
}
// -- NAV Style
nav {
}
h1.title, h2 {
	border: 1px solid @brand-primary;
	color: @brand-primary;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 20px;
	padding: 10px 20px;
}
//	CONTENT Style
//==================================================
article {
}
section {
}
.full-width {
	background: @brand-primary;
	width: 100%;
	overflow: hidden;
	ul {
		//.inline-block-wrap();
		padding: 25px 0;
		li {
			//.grid-elements(9,1,false);
			list-style: none;
			text-align: center;
			vertical-align: middle;
			margin-bottom: 0;
			img {
				max-height: 50px;
				width: auto;
			}

		}
	}
	.owl-carousel .owl-item img {
		display: block;
		width: auto;
		margin: 0 auto;
	}
	.owl-carousel .owl-dots {
		display: none;
	}
}

//	SIDEBAR Style
//==================================================
aside {
	.aside-box {
		margin-bottom : 30px;
	}
	.page-teaser-image {
		width:200px;
	}
	form {
       border: 1px solid @brand-primary;
		padding: 30px;
		margin-top: 30px;
	}
}
.tab_nav {
	padding: 0;
	li {
		list-style: none;
		text-align: center;
		margin-bottom: 20px;
		img {
			width: 50%;
			border: 1px solid @brand-primary;
			border-radius: 50%;
			padding: 5px;
		}
		span.title{
			color       : @brand-primary;
			font-weight : bold;
			display     : block;
			font-size: 18px;
			margin-top: 5px;
		}
		&.active {
			img {
				border: none;
				width: 80%;
			}
			span.title {}
		}
	}
}

.g-recaptcha {
	margin-top : 10px;
}
//	FOOTER Style
//==================================================
footer {
	padding    : @padding-larger-vertical * 2 0;
	background : @footer-bg;
	color      : @footer-color;
	font-size  : @font-size-small;
	.footer-img {
		img {
			max-height: 130px;
			width: auto;
		}
	}
	.social-link {
		color:#fff;
		a {
			color:#fff;
			text-decoration: none;
		}
		p.footer-icons {
			font-size: 16px;
			&:before{
				color : @brand-primary;
				font-size: 19px;
				margin-right: 14px;}
		}

	}
}
//	Button to scroll top
//==================================================
#go-top {
	.button-color(#ffffff; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}
